html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #000;
  background: #fff;
  font-family: 'Archivo', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 19px;
  font-weight: 400;
  overflow-x: hidden;
  transition: background-color .8s, background-gradient .8s, color 0s;
}

/* NEW STUFF */

.homepage {
  background: #f2f2f2;
}

.homepage h1 {
  font-size: 68px;
  letter-spacing: -1px;
  line-height: 72px;
  margin-bottom: 16px;
  position: relative;
}

.homepage h2 {
  color: rgba(0,0,0,0.3);
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 12px;
}

.homepage h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 40px;
}

.homepage h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 6px;
  text-transform: none;
  letter-spacing: 0;
  color: #05A357;
}

.homepage p {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 32px;
}

.hero-bg {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 0;
}

.hero {
  padding-top: 112px;
  color: #fff;
  padding-bottom: 40px;
  padding-left: 64px;
  grid-column: span 12;
}

.hero .g-text {
  position: relative;
  max-width: 624px;
}

.email-button {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  padding: 10px 12px 10px 24px;
  background: rgba(255,255,255,0.1);
  border-radius: 32px;
  display: inline-block;
}

.mailto {
  position: relative;
  top: 1px;
}

.copy {
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 8px 12px;
  margin-left: 8px;
  letter-spacing: 1px;
  border-radius: 24px;
  background: linear-gradient(180deg, #64DBD4, #E98A95, #829AEF);
  background-size: 100% 600%;
  -webkit-animation: backgroundGradient 60s ease infinite;
  -moz-animation: backgroundGradient 60s ease infinite;
  animation: backgroundGradient 60s ease infinite;
}

.copy:hover {
  opacity: 1;
  background-size: 100% 200%;
}

.tooltiptext {
  padding: 8px;
  border-radius: 4px;
  position: fixed;
  margin-top: 52px;
  width: 128px;
  margin-left: -45px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  background: rgba(255,255,255,0.1);
  text-align: center;
  display: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.copy:hover .tooltiptext {
  display: block;
}


.tooltiptext::after {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent rgba(255,255,255,0.1) transparent;
}

#email {
  opacity: 0;
}

.grid {
  display: grid;
  max-width: 1440px;
  grid-gap: 24px;
  padding: 0 24px;
  margin: 24px auto;
  grid-template-columns: repeat(12, 1fr);
}

.g-box {
  height: 600px;
  overflow: hidden;
  background: #fff;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.12);
  position: relative;
}

.g-text {
  max-width: 520px;
}

.g-4 {
  grid-column: span 4;
}

.g-5 {
  grid-column: span 5;
}

.g-7 {
  grid-column: span 7;
}

#eats-1 img {
  height: 130%;
}

#eats-2 img {
  height: 105%;
}

#bread h4 {
  color: #4B5EE2;
}

#bread img {
  height: 130%;
  //margin-left: 10%;
}

#topology {
  background: #fafafa;
}

#topology .box-overlay {
  width: 100%;
  height: 110%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0,0,0,0.9), rgba(0,0,0,0.85), rgba(0,0,0,0.2), rgba(0,0,0,0.0), rgba(0,0,0,0));
  z-index: 1;
}

#topology h4 {
  color: #C8C8C8;
}

#topology h3 {
  color: #fff;
}

#topology img {
  position: absolute;
  height: 120%;
  left: -10%;
  top: 0;
  z-index: 0;
}

#topology .g-text {
  z-index: 2;
  position: relative;
}

.boxes {
  position: absolute;
  top: 84%;
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.g-header {
  grid-column: span 12;
  padding-left: 32px;
  padding-right: 32px;
}

.about {
  background: none;
  box-shadow: none;
  padding-top: 96px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 96px;
  max-width: 680px;
  grid-column: span 12;
}

.about h2 {
  margin-bottom: 16px;
  color: #000;
}

.about p {
  margin-bottom: 16px;
}

.about .links a {
  border-color: #000;
  color: #000;
}

.header-container {
  width: 1280px;
  margin: 0;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
}

.header {
  background: linear-gradient(180deg, #64DBD4, #E98A95, #829AEF);
  background-size: 100% 400%;
  -webkit-animation: backgroundGradient 60s ease infinite;
  -moz-animation: backgroundGradient 60s ease infinite;
  animation: backgroundGradient 60s ease infinite;
}

.header-img {
  width: 100%;
  vertical-align: top;
}

/* Breakpoints */
@media screen and (max-width: 1000px) {
  .g-4 {
    grid-column: span 6;
  }

  .g-5 {
    grid-column: span 6;
  }

  .g-7 {
    grid-column: span 12;
  }

  .header {
    opacity: 0.5;
  }
}

@media screen and (max-width: 760px) {
  .homepage h1 {
    font-size: 60px;
    line-height: 64px;
  }

  .homepage h2 {
    font-size: 28px;
    line-height: 32px;
  }

  .homepage p {
    font-size: 20px;
    line-height: 28px;
  }

  .email-button {
    font-size: 20px;
  }

  .copy {
    font-size: 18px;
  }

  .hero {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 96px;
    max-width: 560px;
  }

  .boxes {
    top: 100%;
  }

  .about {
    padding-top: 48px;
  }

  .g-header h2 {
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 600px) {
  .g-4 {
    grid-column: span 12;
  }

  .g-5 {
    grid-column: span 12;
  }

  .g-7 {
    grid-column: span 12;
  }

  .header-img {
    margin-left: 8%;
  }

  .hero {
    padding-left: 0px;
    padding-right: 0px;
  }

  .g-header {
    padding-left: 0;
    padding-right: 0;
  }

  .about {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 520px) {

  .homepage h1 {
    font-size: 56px;
    line-height: 60px;
  }

  .homepage h2 {
    font-size: 24px;
    line-height: 28px;
  }

  .homepage h3 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 32px;
  }

  .homepage h4 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 480px) {
  .homepage h1 {
    font-size: 52px;
    line-height: 56px;
  }
}

@media screen and (max-width: 440px) {
  .hero {
    padding-top: 48px;
  }

  .homepage h2 {
    font-size: 20px;
    line-height: 24px;
  }

  .homepage h3 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 24px;
  }

  .homepage h4 {
    font-size: 16px;
    line-height: 20px;
  }

  .g-box {
    padding: 24px;
    height: 480px;
  }

  .header-img {
    margin-left: 15%;
  }
}

/* END NEW STUFF */

.body-container {
  padding: 72px 48px 240px;
  margin: 360px auto 0;
  text-align: left;
  position: relative;
}

.flex {
  display: flex;
  justify-content: left;
  max-width: 960px;
  margin: 0 auto;
}

.title {
  flex-basis: 38%;
  padding-right: 40px;
}

.body {
  flex-basis: 62%;
}

.links {
  margin-top: 40px;
}

.links p {
  display: inline-block;
  margin-right: 32px;
}

.links a {
  border-bottom: 2px solid #FFF;
  padding-bottom: 5px;
}

h1 {
  font-size: 42px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 32px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 20px;
}

p {
  line-height: 32px;
  margin-bottom: 20px;
}

a {
  font-weight: 600;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover {
  opacity: 0.3;
}

strong {
  font-weight: 600;
}

/* Portfolio */

.portfolio {
  background: #fff;
  color: #000;
  padding-bottom: 160px;
  font-size: 17px;
}

#tools {
  background: #f2f2f2;
}

.portfolio-header {
  padding-top: 48px;
  background: #fff;
}


#tools .portfolio-header {
  background: linear-gradient(#fff, #f2f2f2);
}

.tag {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  display: inline-block;
}

.title-container {
  padding: 0 48px;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
}

.text-container {
  padding: 0 48px;
  margin: 0 auto;
  max-width: 720px;
  text-align: left;
}

.mb-48 {
  margin-bottom: 48px;
}

ul li {
  list-style: square;
  line-height: 32px;
  margin-bottom: 8px;
  margin-left: 16px;
  padding-left: 4px;
}

.img-container {
  padding: 28px 36px 48px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1080px;
}

.img-header {
  flex-basis: 100%;
  max-width: 832px;
  padding: 12px;
}


#predictions .img-header {
  background: #111;
  border: solid 4px #282828;
  border-radius: 10px;
  padding: 16px 24px;
  margin: 8px 0 36px;
  box-shadow: 0 16px 40px rgba(0,0,0,0.5);
}

#ordering .img-header {
  margin-top: -16px;
  max-width: 880px;
}

#tools .img-header {
  margin-top: -24px;
  max-width: 880px;
}

#tools .img-header .p-img {
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
}

#checkout .img-header {
  margin-top: -16px;
  max-width: 880px;
}

#payments .img-header {
  margin-top: -24px;
  max-width: 640px;
}

#capture .img-header {
  margin-top: -16px;
  max-width: 880px;
}

#other .img-header {
  margin-top: -24px;
  max-width: 640px;
}


.img-full {
  flex-basis: 100%;
  max-width: 960px;
  padding: 12px;
}

.img-inline {
  flex-basis: 100%;
  padding: 12px;
  max-width: 648px;
}

.img-half {
  flex-basis: 50%;
  padding: 12px;
}

.img-small {
  flex-basis: 100%;
  max-width: 360px;
  padding: 12px;
}

.p-img {
  width: 100%;
}

.caption {
  font-size: 14px;
  line-height: 24px;
  margin-top: 4px;
  text-align: center;
  color: #777;
  margin-bottom: 0;
}

#tools .caption {
  margin-top: 8px;
  margin-bottom: 8px;
}

.link-container {
  text-align: center;
}

.back-link {
  border-bottom: 2px solid #000;
  padding-bottom: 4px;
  display: inline-block;
  margin-top: 40px;
}

.tldr {
  opacity: 0.5;
  padding-bottom: 28px;
  border-bottom: dashed 1px rgba(0,0,0,0.3);
  margin-bottom: 48px;

}

@media screen and (max-width: 640px) {
  .text-container {
    padding: 0 24px;
  }

  .img-container {
    padding: 24px 8px 32px;
  }

  .img-half {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 420px) {
  .email {
    display: none;
  }

  .title-container {
    padding: 0 24px;
  }

  .title-container h1 {
    font-size: 36px;
    line-height: 42px;
  }
}


/* Work */
h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 28px;
}

h4 {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

#work-page {
  background: #fff;
  color: #000;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 48px;
  margin: 0 auto;
  background: #fff;
}

.left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.header-section a {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 24px;
  padding-bottom: 4px;
  padding-top: 4px;
  border-bottom: solid 2px #000;
}

.active:hover {
  opacity: 1;
}


.header-section .email {
  margin-left: 0px;
  background: -webkit-linear-gradient(#4FCE81, #F1B848, #F07375, #5285E7);
  background-size: 100% 800%;
  border-bottom: none;
  -webkit-animation: backgroundGradient 60s ease infinite;
  -moz-animation: backgroundGradient 60s ease infinite;
  animation: backgroundGradient 60s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-section .email:hover {
  opacity: 1;
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.right a:last-child {
  margin-right: 8px;
}

.profile {
  width: 68px;
  height: 68px;
  margin-right: 24px;
  background: linear-gradient(#D0F5DE, #F4E6CB, #F6D6D6, #CEDFFF);
  border-radius: 72px;
  background-size: 100% 500%;
  -webkit-animation: backgroundGradient 60s ease infinite;
  -moz-animation: backgroundGradient 60s ease infinite;
  animation: backgroundGradient 60s ease infinite;
}

.profile img {
  width: 56px;
  height: 56px;
  margin-left: 6px;
  margin-top: 6px;
  border-radius: 56px;
}

#work-page .body-section {
  padding: 56px 48px 80px;
}

.work-preview {
  max-width: 960px;
  margin: 0 auto 48px;
  display: flex;
  flex-wrap: wrap;
}

.work-preview .preview-img {
  flex-basis: 50%;
  display: inline-block;
  border: none;
  transition: opacity 0.8s;
  background: #eee;
}

#work-predictions {
  background: linear-gradient(#D0F5DE, #F4E6CB);
}

#work-ordering {
  background: linear-gradient(#F4E6CB, #F6D6D6);
}

#work-ordering img {
  cursor: default;
}

#work-ordering:hover {
  opacity: 1;
}

#work-ordering:hover img {
  opacity: 1;
}


#work-tools {
  background: linear-gradient(#F6D6D6, #CEDFFF);
}

#work-checkout {
  background: linear-gradient(#CEDFFF, #D1D3F9);
}

#work-payments {
  background: linear-gradient(#D1D3F9, #D3EAF4);
}

#work-capture {
  background: linear-gradient(#D3EAF4, #FBD5DF);
}

#work-other {
  background: linear-gradient(#FBD5DF, #BABCEA);
}

.work-preview .preview-img:hover {
  opacity: 0.8;
}

.work-preview img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: opacity 0.8s;
}

.work-preview .preview-img:hover img {
  opacity: .7;
}

.work-text {
  flex-basis: 50%;
  display: inline-block;
  margin: auto;
  padding: 0 48px;
}
.work-text a {
  border-bottom: 2px solid #000;
  padding-bottom: 4px;
  color: #000;
  font-weight: 600;
  font-size: 17px;
  transition: opacity 0.8s;
}

.work-text a:hover {
  opacity: 0.5;
}

.work-text .disabled {
  border-bottom: none;
  opacity: 0.35;
}

.work-text .disabled:hover {
  opacity: 0.35;
}


@media screen and (max-width: 824px) {

  #work-page .body-section {
    padding-left: 24px;
    padding-right: 24px;
  }

  .header-section {
    padding-left: 24px;
    padding-right: 24px;
  }

  .profile {
    margin-right: 20px;
  }

  .header-section a {
    margin: 0 16px;
  }

  .work-preview {
    max-width: 480px;
  }

  .work-preview .preview-img {
    flex-basis: 100%;
  }

  .work-text {
    flex-basis: 100%;
    float: none;
    text-align: center;
    padding: 32px 8px;
  }

  h2 {
    margin-bottom: 24px;
  }
}

/* Animations */

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated-slow {
  animation-duration: 4s;
  animation-fill-mode: both;
}

.animated-delay {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 160px, 0);
    transform: translate3d(0, 160px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@-webkit-keyframes backgroundGradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes backgroundGradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes backgroundGradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
