@font-face {
    font-family: "Avenir Next";
    src: url("../fonts/avenir-next.ttc");
}

@font-face {
    font-family: "Hoefler Text";
    src: url("../fonts/hoefler-text.ttc");
}

body {
  font-family: "Hoefler Text", serif;
  margin: 0;
  height: 100%;
  color: #555555;
}

.background {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: #0B1B22;
}

h1 {
  font-size: 32px;
  margin: 0;
  letter-spacing: 0.5px;
  line-height: 1.2;
  font-weight: black;
}

h2 {
  font-size: 24px;
  margin: 0;
  line-height: 1.2;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  line-height: 1.2;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  line-height: 1.4;
}

h5 {
  font-size: 12px;
  font-weight: 700;
  font-family: "Avenir Next", sans-serif;
  margin: 0;
  line-height: 1.2;
  text-transform: uppercase;
}

p {
  font-size: 15px;
  margin: 0;
  line-height: 1.2;
}

.header-section {
  padding: 100px 30px 80px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.header-content {
  max-width: 600px;
  margin: 0 auto;
}

.header-header {
  color: #FFFFFF;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  display: inline-block;
  width: 170px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.details-links-block {
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  width: 420px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: solid 2px #273C46;
}

.header-description {
  color: #97B0BC;
  margin-bottom: 20px;
}

.icon {
  /* Need to make this into a shape so the borders are smooth */
  height: 35px;
  margin-right: 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.icon:hover {
  opacity: 0.7;
}

.work-section {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  padding: 60px 30px;
}

#gradient-1 {
  background: #0B1B22;
  background: -webkit-linear-gradient(#0B1B22, #124155); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#0B1B22, #124155); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#0B1B22, #124155); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#0B1B22, #124155); /* Standard syntax */
}

#gradient-2 {
  background: #0B1B22;
  background: -webkit-linear-gradient(#124155, #006A7B); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#124155, #006A7B); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#124155, #006A7B); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#124155, #006A7B); /* Standard syntax */
}

#gradient-3 {
  background: #0B1B22;
  background: -webkit-linear-gradient(#006A7B, #445E7A); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#006A7B, #445E7A); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#006A7B, #445E7A); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#006A7B, #445E7A); /* Standard syntax */
}

#gradient-4 {
  background: #0B1B22;
  background: -webkit-linear-gradient(#445E7A, #124155); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#445E7A, #124155); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#445E7A, #124155); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#445E7A, #124155); /* Standard syntax */
}

#gradient-5 {
  background: #0B1B22;
  background: -webkit-linear-gradient(#124155, #166C6F); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#124155, #166C6F); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#124155, #166C6F); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#124155, #0E6B77); /* Standard syntax */
}

#gradient-6 {
  background: #0E6B77;
}

.work-content {
  max-width: 600px;
  margin: 0 auto;
}

.work-header {
  color: #FFFFFF;
  margin-bottom: 10px;
}

.work-description {
  color: #FFFFFF;
  margin-bottom: 20px;
}

.work-categories {
  color: rgba(255,255,255,0.5);
  margin-bottom: 10px;
}

.screenshot {
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 0 50px rgba(0,0,0,0.3);
  display: block;
  margin: 20px auto 30px;
}

.ipad {
  width: 106%;
  display: block;
  margin: -1% 0 15px -3%;
}

.work-button {
  width: 120px;
  display: block;
  text-align: center;
  padding: 13px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Avenir Next", sans-serif;
  font-size: 12px;
  border-radius: 3px;
  color: #FFFFFF;
  font-weight: 700;
  background: #009BB6; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, #009BB6, #00869E); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #009BB6, #00869E); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #009BB6, #00869E); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #009BB6, #00869E); /* Standard syntax */
  margin-bottom: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.work-button:hover {
  opacity: 0.7;
  box-shadow: none;
}

.shop-button {
  background: #7AB55C; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, #7AB55C, #649D47); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #7AB55C, #649D47); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #7AB55C, #649D47); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #7AB55C, #649D47); /* Standard syntax */
}

.disabled-button {
  background: rgba(255,255,255,0.2); /* For browsers that do not support gradients */
  box-shadow: none;
}

.disabled-button:hover {
  opacity: 1;
}

.fin-section {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  padding: 60px 30px 30px;
}

.fin {
  color: rgba(255,255,255,0.5);
}

/* Project Pages */

.project-header-section {
  padding: 80px 30px 100px;
}

.back-link {
  text-decoration: none;
}

#home-icon {
  height: 10px;
  margin-right: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.back-link-text {
  color: #009BB6;
  margin-bottom: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: inline-block;
}

.back-link:hover .back-link-text{
  opacity: 0.7;
}

.back-link:hover #home-icon {
  opacity: 0;
  margin-left: -15px;
}

.project-section {
  padding: 60px 30px;
  background: #FFFFFF;
}

.project-header-image {
  margin-top: -160px;
}

.project-head {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #009BB6;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.project-devices {
  width: 106%;
  display: block;
  margin: 15px 0 5px -3%;
}

.project-screenshot {
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  display: block;
  margin: 20px auto 15px;
}

.inline-link {
  text-decoration: none;
  color: #009BB6;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.inline-link:hover {
  opacity: 0.7;
}

.green {
  color: #7AB55C;
}

.caption {
  text-align: center;
  color: #A8A8A8;
  margin-bottom: 15px;
}

.end-back-link {
  margin: 40px auto;
  width: 143px;
}

.project-section .back-link-text {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

@media (max-width: 680px)  {
  .header-block h1 {
    width: 100%;
    padding-right: 0;
  }

  .details-links-block {
    padding-left: 0;;
    width: 100%;
    border-left: none;
    padding-top: 0;
  }
}

/* Animations */
.animated {
  animation-duration: .8s;
  animation-fill-mode: both;
}

.animated-delay {
  -webkit-animation-delay: 0.6s; /* Chrome, Safari, Opera */
  animation-delay: 0.6s;
}

.animated-delay-2 {
  -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
  animation-delay: 1s;
}

.animated-delay-3 {
  -webkit-animation-delay: 1.4s; /* Chrome, Safari, Opera */
  animation-delay: 1.4s;
}

@keyframes halfFade {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

.halfFade {
  animation-name: halfFade;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}
