@font-face {
  font-family: 'SF Pro Display';
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-Regular.ttf");
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 700;
  src: url("../fonts/SF-Pro-Display-Bold.ttf");
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 800;
  src: url("../fonts/SF-Pro-Display-Heavy.ttf");
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  color: #222222;
  font-family: 'SF Pro Display', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 80px 0 136px;
}

.col-6 {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.col-4 {
  width: 33.33%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.col-3 {
  width: 25%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

h1 {
  font-size: 26px;
  line-height: 1.5;
  font-weight: 700;
}

h2 {
  font-size: 13px;
  line-height: 1.5;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

h4 {
  font-size: 13px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.intro-section {
  padding-bottom: 72px;
}

.intro {
  padding: 0 40px 0 24px;
}

.about {
  padding: 6px 24px 0 8px;
}

.text-link-group {
  font-size: 16px;
  color: #D8D8D8;
}

.text-link {
  color: #3F51D4;
  font-weight: 800;
  transition: all .5s;
  font-size: 13px;
}

.text-link:hover {
  color: #1B2780;
}

.button-primary {
  display: inline-block;
  height: 48px;
  padding: 18px 24px;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #3F51D4;
  color: #FFFFFF;
  border: none;
  border-radius: 2px;
  transition: all .5s;
}

.button-primary:hover {
  background: #1B2780;
}

.work-section {
  text-align: center;
  padding: 0 0 48px;
}

.work-section .col-4 {
  padding: 0 24px;
}

.work-section img {
  width: 100%;
  border-radius: 2px;
  box-shadow: 0px 12px 24px rgba(0,0,0,0.1);
}

.dates {
  font-size: 14px;
  color: #777777;
  font-weight: 400;
}

.book-section {
  text-align: center;
  background: #F8F8F8;
}

.book-section .col-3 {
  padding: 24px;
}

.book-section p {
  max-width: 480px;
  margin: 0 auto 56px auto;
}

.book-section hr {
  margin: -10px 24px;
  border: solid 1px #EEEEEE;
}

.book-section h4 {
  padding: 8px 12px;
  background: #F8F8F8;
  display: inline-block;
  margin: -10px auto 0;
  color: #999999;
}

.book-section .date-divider {
  margin-top: 40px;
}

.book-section img {
  width: 100%;
  border-radius: 2px;
  box-shadow: 0px 12px 24px rgba(0,0,0,0.1);
  transition: all .5s;
}

.book-section img:hover {
  box-shadow: 0px 12px 28px rgba(0,0,0,0.2);
  cursor: pointer;
}

/* Responsive */

@media screen and (max-width: 960px) {
  .book-section .col-3 {
    padding: 12px;
  }
  .work-section .col-4 {
    padding: 0 12px;
  }
  .intro {
    padding: 0 32px 0 12px;
  }

  .about {
    padding: 6px 12px 0 8px;
  }
  .book-section hr {
    margin: -9px 12px;
  }
}

@media screen and (max-width: 750px) {
  section {
    padding: 64px 0;
  }
  body {
    text-align: center;
  }
  .intro {
    max-width: 480px;
    margin: 0 auto 48px;
    padding: 0 20px;
  }
  .about {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .col-6 {
    width: 100%;
  }
  .col-4 {
    width: 50%;
  }
  .col-3 {
    width: 33.33%;
  }
  .intro-section {
    padding-bottom: 64px;
  }
  .work-section {
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 550px) {
  .col-6 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .col-3 {
    width: 50%;
  }
}

/* Animations */

.animated {
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

.animated-delay-0 {
  -webkit-animation-delay: 0.4s; /* Chrome, Safari, Opera */
  animation-delay: 0.4s;
}

.animated-delay-1 {
  -webkit-animation-delay: 0.8s; /* Chrome, Safari, Opera */
  animation-delay: 0.8s;
}

.animated-delay-2 {
  -webkit-animation-delay: 1.2s; /* Chrome, Safari, Opera */
  animation-delay: 1.2s;
}

.animated-delay-3 {
  -webkit-animation-delay: 1.6s; /* Chrome, Safari, Opera */
  animation-delay: 1.6s;
}

.animated-delay-4 {
  -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
  animation-delay: 2s;
}

@keyframes halfFade {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

.halfFade {
  animation-name: halfFade;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}
