@font-face {
    font-family: "Avenir Next";
    src: url("fonts/avenir-next.ttc");
}

body {
  font-family: "Avenir Next", sans-serif;
  font-weight: 400;
  background-attachment: fixed;
  color: #555555;
  height: 100%;
  background: #FFFFFF;
}

.container-fluid {
  max-width: 1080px;
}

h1 {
  font-weight: 500;
  font-size: 28px;
  margin: 16px 0;
}

h2 {
  font-weight: 400;
  margin: 16px 0;
  font-size: 18px;
  line-height: 1.4em;
  color: #888888;
}

h3 {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5em;
  margin: 16px 0;
  color: #888888;
}

.h3-head {
  color: #555555;
  font-weight: 500;
  font-size: 18px;
}

p {
  font-size: 14px;
  color: #888888;
}

h4 {
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  margin: 16px 0;
  color: #AAAAAA;
  -webkit-transition: margin 0.4s;
  transition: margin 0.4s;
}

a {
  color: #00BAAD;
  font-weight: 500;
  -webkit-transition: color 0.8s;
  transition: color 0.8s;
}

a:hover, a:active, a:focus {
  color: #007C73;
  text-decoration: none;
}

.button {
  background: #00BAAD;
  padding: 12px 24px;
  margin: 8px 0;
  font-weight: 500;
  font-size: 11px;
  color: #FFFFFF;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
}

.button:hover {
  background: #007C73;
  color: #FFFFFF;
  text-decoration: none;
}

.header {
  padding: 56px 0;
}

.section {
  background: #FFFFFF;
  border-top: solid 1px rgba(0,0,0,0.1);
  padding: 0;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.text-box {
  max-height: 400px;
  padding-top: 40px;
}

.image-box {
  overflow: hidden;
  max-height: 400px;
  padding-top: 40px;
  padding-left: 0;
  padding-right: 0;
  -webkit-transition: padding 0.8s;
  transition: padding 0.8s;
}

.section:hover {
  background: #F8F8F8;
}

.section:hover .image-box {
  padding-top: 16px;
}

.section .text-box h4 {
  opacity: 0;
  -webkit-transition: opacity 1.6s;
  transition: opacity 1.6s;
}

.section:hover .text-box h4 {
  opacity: 1;
}

.homepage-img {
  width: 100%;
}

#shopbolt .image-box {
  padding-top: 40px;
  min-height: 400px;
}

#shopbolt:hover .image-box {
  padding-top: 24px;
}

@media (max-width: 992px) {

  .container-fluid {
    max-width: 700px;
  }

  .section .text-box h4 {
    opacity: 1;
  }

  .text-box {
    padding-left: 24px;
    padding-right: 24px;
  }

  .section:hover .image-box {
    padding-top: 24px;
  }

  .header-text {
    padding-left: 24px;
    padding-right: 24px;
  }

  .body-text-box {
    padding-left: 24px;
    padding-right: 24px;
  }

  #shopbolt .image-box {
    padding-top: 20px;
    min-height: 0;
  }

  #shopbolt:hover .image-box {
    padding-top: 4px;
  }
}

/* Portfolio Pages */

.body-header {
  padding: 56px 0 24px;
}

.body-section {
  background: #FFFFFF;
  border-top: solid 1px rgba(0,0,0,0.1);
  padding: 24px 0;
}

.shopbolt-body {
  background: #F8F8F8;
}

.body-img {
  max-width: 800px;
  width: 100%;
  display: block;
  margin: 20px auto;
}

.shopbolt-img {
  width: 100%;
  display: block;
  margin: 30px 0 40px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.body-image-box {
  padding-left: 0;
  padding-right: 0;
}

.body-header h4:hover {
  margin-left: -5px;
}

.blue {
  color: #00BAAD;
}

.caption {
  margin-top: -10px;
  margin-bottom: 30px;
  text-align: center;
  font-style: italic;
}

/* Animation */

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated-delay {
  -webkit-animation-delay: .3s; /* Chrome, Safari, Opera */
  animation-delay: .3s;
}

.animated-delay-2 {
  -webkit-animation-delay: .6s; /* Chrome, Safari, Opera */
  animation-delay: .6s;
}


.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 200px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  animation-name: bounceInUp;
}
